{% extends 'home.html' %}
{% block title %}Country - The countries I travelled{% endblock title %}

{% block content %}
<table class="table" id="my-country-table">
    <tbody>
        <tr>
            <td></td>
            <td><h3 class="is-size-4">{{ country.name }}</h3></td>
        </tr>
    <tr>   
        <td>Continent</td>
        <td>{{ country.continent }}</td>
    </tr>
    <tr>
        <td>Capital</td>
        <td>{{ country.capital }}</td>
    </tr>
    <tr>
        <td>Population</td>
        <td>{{ country.population }}</td>
    </tr>
    <tr>
        <td>Area</td>
        <td>{{ country.area }} m<sup>2</sup></td>
    </tr>
    </tbody>
</table>
{% endblock content %}