{% extends 'home.html' %}
{% block title %}Countries - The countries I travelled{% endblock title %}

{% block content %}
<div>
    <h2 class="is-size-5">List of countries</h2>
    <div class="columns has-text-centered">
        <div class="column is-one-third" id="Africa">
            <h3 class="is-size-2">Africa</h3>
        </div>
        <div class="column is-one-third" id="Asia">
            <h3 class="is-size-2">Asia</h3>
        </div>
        <div class="column is-one-third" id="Europe">
            <h3 class="is-size-2">Europe</h3>
        </div>
    </div>
</div>
{% endblock content %}