{% extends 'home.html' %}
{% block title %}Countries - The countries I travelled{% endblock title %}

{% block content %}
<h2 class="is-size-5">List of countries</h2>
<div class="has-text-centered">
    {% for key, val in countries.items() %}
        <div id="{{ key }}">
            <h3 class="is-size-2">{{ key }}</h3>
            <ul id="my-continents">
                {% for country in val %}
                    <li class="has-text-weight-semibold"><a href="/countries/{{ country.name }}">{{ country.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>
{% endblock content %}