{% extends 'home.html' %}
{% block title %}Countries - The countries I travelled{% endblock title %}

{% block content %}
<div class="has-text-centered">
    {% for key, val in countries.items() %}
        <div id="{{ key }}">
            <h2 class="is-size-2">{{ key }}</h2>
            <ul id="my-continents">
                {% for country in val %}
                    <a href="/countries/{{ country.name }}"><li class="has-text-weight-semibold">{{ country.name }}</li></a>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>
{% endblock content %}