<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <title>The Countries I Travelled</title>
        <link rel="stylesheet" type="text/css" href="/../static/temporary.css">
    </head>

    <body>
        <header>
            <h1>The Countries I Travelled</h1>
        </header>

        <nav>
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/countries">Countries</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>

        <main>
            
        </main>

    </body>

</html>






<head>
        <title>Cocoa Website</title>
</head>
<body>
{% if name %}
        <p>Hello {{ name }}.</p>
{% else %}
        <p>Hello stranger.</p>
{% endif %}
</body>
</html>
